.VPNavBarTitle .logo {
  height: 18px;
  width: auto;
}

:root {
  /* ── Fonts ── */
  --vp-font-family-base: "IBM Plex Sans", sans-serif; /* body / UI font */
  --vp-font-family-mono: "IBM Plex Mono", monospace; /* code blocks */

  /* brand colors */
  --vp-c-brand-1: #ef3b39 !important;
  --vp-c-brand-2: #ffcd34 !important;
  --vp-c-brand-3: #f26739 !important;
  --vp-c-brand-soft: #f25143 !important;

  --vp-c-bg: #ffffff !important;
  --vp-c-bg-soft: #EAEAEA !important;

  --vp-custom-block-tip-bg: var(--vp-c-bg-soft) !important;
  --vp-custom-block-info-bg: rgba(94, 166, 229, 0.25);

  /* primary button */
  --vp-button-brand-bg: var(--vp-c-brand-1) !important;
  --vp-button-brand-hover-bg: var(--vp-c-brand-soft) !important;
  --vp-button-brand-active-bg: var(--vp-c-brand-soft) !important;
  --vp-button-brand-text: #ffffff !important;
  --vp-button-brand-hover-text: #ffffff !important;
  --vp-button-brand-border: transparent;
  --vp-button-brand-hover-border: transparent;

  /* hero section */
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    90deg,
    #f26739,
    #ef3b39
  ) !important;

    --vp-home-hero-image-background-image: transparent !important;
}

.dark {
  --vp-c-bg: #090909 !important;
  --vp-c-bg-soft: #1A1A1A !important;
}

h1 {
  font-family: "Science Gothic", sans-serif;
  font-weight: 500 !important;

  .name,
  .text {
    font-weight: 500 !important;
  }
}

.VPButton,
.VPFeature {
  border-radius: 2px !important;
}

.VPLink.active {
  color: var(--vp-c-brand-3) !important;
  font-weight: 500 !important;
}

.VPSidebarItem.level-1.is-active>.item .link>.text {
  color: var(--vp-c-brand-3) !important;
  font-weight: 500 !important;
}

.VPHero .container .image .image-container .VPImage.image-src {
  max-width: 400px !important;
  max-height: auto !important;
}

.VPFeature.link:hover {
    border-color: var(--vp-c-brand-3) !important;
}

.VPFeature:not(.link) .link-text-icon {
  display: none !important;
}

.tagline {
  font-weight: 400 !important;
  font-size: 1.2rem !important;
}

.pager-link, .custom-block {
  border-radius: 2px !important;
}


.custom-block.tip {
  border-left: 5px solid var(--vp-c-brand-2) !important;
}

.custom-block.info {
  border-left: 5px solid #5EA6E5 !important;
}

.custom-block.warning {
  border-left: 5px solid #ffa012 !important;
}

.custom-block.danger {
  border-left: 5px solid #ff1232 !important;
}